.jumbotron {
    padding: 4rem 1rem;
    background-color: rgb(252, 90, 195);
}
.project{
    background-color: rgb(13, 221, 248);
}
.bg-orange {
    background-color: #f7bc63; 
  }
  body {
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white; 
}
